<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0" *ngIf="dish">

  <div fxFlex="40">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img height="200px" mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>
          <span>{{dish.description}}</span>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Comments</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngFor="let comment of dish.comments">
          <p>
            <span>{{comment.comment}}</span>
          </p>
          <p>
            <span>{{comment.rating}} Stars</span>
          </p>
          <p>
            <span>-- {{comment.author}} {{comment.date | date}}</span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
</div>
