<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>
  <div fxFlex>
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile *ngFor="let videoProperty of VidePropertyList" (click) = "onSelect(videoProperty)">
      <img height="200px" src={{videoProperty.image}} alt={{videoProperty.name}} >
      <mat-grid-tile-footer>
        <h1 matLine>{{videoProperty.name | uppercase}}</h1>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  </div>

<app-dish-details [dish]="selectedDish"></app-dish-details>
</div>
